@charset "UTF-8";
@use '_func' as *;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

  
// #region RESET
body {
    font-family: Helvetica,Arial,freesans,sans-serif;
    font-weight: 400;
    font-feature-settings: '';
    font-size: 1rem;
    line-height: 1.375;
}

html {
  scroll-padding-top: 3.5rem;
}

main {
  display: contents;
}

*:is(h1,h2,h3,h4,h5,h6, .form-label) {
    margin-bottom: 1em;
    font-weight: 700
}

ul {
    margin-bottom: 2rem;
}

details {
    margin-bottom: 3rem;
}

.text-white a {
  &:not(:hover):not(:focus) {
    color: white;
  }
}
// #endregion

:root {
  --bs-primary-rgb: 66, 65, 85;
}

// #region Header
header {
  background: #fff;
  padding: rem(4) 0 rem(4) 0;
  border-bottom: 1px solid #dcdcdc;

  a[rel="home"]:first-child {
    display: inline-block;
    line-height: rem(30);
    padding-block: rem(5);
    font-size: 1.5rem;
    color: inherit;
    text-decoration: none;

  }
}

.navbar .navbar-toggler + .navbar-toggler{

  display: none;
}
#menu:target {

  .navbar-toggler {
    display: none;
  }
  .navbar-toggler + .navbar-toggler{

    display: block;
  }
  .collapse {

    display: block;
  }
}

// #endregion

// #region submenu
#submenu {

  position: sticky;
  top: -1px;
  z-index: 99999;
}

input:not(:checked) + .expand-submenu {
  height: rem(38);
  overflow: hidden;
}

.expand-submenu + label.nav-link {
  height: rem(38);
  line-height: rem(38);
  display: inline-block;
  outline: 1px solid white;
  margin-right: -0.75rem;
  white-space: nowrap;

  &:before {
    content: "";
    display: inline-block;
    height: 0.75em;
    aspect-ratio: 32/32;
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3e%3cpath d='M1 7.5h30V1.9H1v5.6zm0 22.6h30v-5.6H1v5.6zm0-11.3h30v-5.6H1v5.6z' fill='white'%3e%3c/path%3e%3c/svg%3e");
    background-size: 100% 100%;
    margin-inline-end: rem(8);
  }

  span:nth-child(2){
    display: none;
  }

  input:checked ~ & span:nth-child(1){
    display: none;
  }
  input:checked ~ & span:nth-child(2){
    display: inline-block;
  }
}
// #endregion

details summary:has(> h2:first-child) {
  list-style: none;

  &::-webkit-details-marker,
  &::marker {
    display: none;
  }

  &:before {
    content: "";
    height: rem(20);
    width: rem(20);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3e%3cpath d='M31 19.3v-6.5l-3.9-.5c-.1-.4-.3-.9-.5-1.5l2.4-3-4.7-4.7-3.1 2.4c-.4-.2-.9-.4-1.5-.6L19.2 1h-6.5l-.5 3.9c-.6.2-1.1.4-1.5.6l-3-2.4L3 7.7l2.4 3c-.2.5-.4 1.1-.5 1.5l-3.9.5v6.5l3.9.5c.2.5.3 1 .6 1.5l-2.4 3 4.7 4.7 3-2.3c.4.2 1 .5 1.5.6l.5 3.8h6.5l.5-3.8c.5-.2 1.1-.4 1.5-.6l3 2.3 4.7-4.7-2.4-3 .6-1.5 3.8-.4zm-2.1-1.9-3.4.5c-.3 1.5-.8 2.7-1.6 3.6l2.1 2.6-1.9 2-2.6-2c-1 .7-2.5 1.3-3.7 1.5l-.5 3.3h-2.6l-.5-3.3c-1.2-.2-2.7-.8-3.7-1.5l-2.6 2-1.9-2 2.1-2.6c-.8-.9-1.2-2.1-1.6-3.6l-3.4-.5v-2.7l3.5-.5c.2-1.1.6-2.3 1.4-3.7L6 7.9l1.9-2L10.6 8c.8-.7 1.7-1.1 3.6-1.6l.5-3.4h2.6l.5 3.4c1.9.5 2.8.9 3.6 1.6l2.7-2L26 8l-2 2.5c.8 1.4 1.2 2.6 1.4 3.7l3.5.5v2.7zM16 20.8c-2.7 0-4.7-2-4.7-4.8 0-2.7 2-4.7 4.7-4.7s4.7 2 4.7 4.7-2 4.8-4.7 4.8zm0 2.2c3.9 0 6.9-3 6.9-7 0-3.9-3-6.9-6.9-6.9s-6.9 3-6.9 6.9c0 4 3 7 6.9 7z'%3e%3c/path%3e%3c/svg%3e");
    background-size: 100% 100%;
    display: inline-block;
    //margin-top: rem(2);
    margin-right: rem(6);
  }
}

details[open] summary:has(> h2:first-child):before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3e%3cpath d='m30 4.6-2.8-2.8L2 27.4l2.8 2.8L30 4.6zM4.8 1.8 1.9 4.7l25.2 25.5 2.9-2.9L4.8 1.8z'%3e%3c/path%3e%3c/svg%3e");
}

.resize {
  resize: both;
  overflow: auto;
  max-width: 100%;
  min-width: 20rem;
}

// #region More examples nav
#more-examples {

  padding-bottom: 2rem;

  a {
    margin-bottom: 1rem;
  }
}
#more-examples:not(.index-page) {


  a:not([href="./#more-examples"]) {
    display: none;
  }

  a.active + a {
    display: inline-block;

    &:before {
      content: "Next: ";
    }
  }
}

#more-examples.index-page {


  a[href="./#more-examples"] {
    display: none;
  }
}
// #endregion