

// #region Comparison chart
#{'.chart '+$comparison-chart-key} {
  label {
    pointer-events: none;
  }
  [data-label="Total"] {
    display: none;
  }
}

#{'.chart '+$comparison-chart} {

  &::before {
    display: none;
  }

  table tbody tr {
    flex-direction: row;
    flex-wrap: wrap;
  }

  table tbody tr td:first-child {
    width: 100%!important;
    position: static!important;
    transform: none!important;
    text-align: left;
    font-weight: bold;
  }
  table tbody tr td:not(:first-child) {
    width: var(--comparison);

    span {
      left: 0;
      transform: none !important;
    }
    &:nth-child(3) span{
      left: auto;
      right: 0;
    }
  }
  table tbody tr td[data-label="Total"] {
    display: none;
  }

  &[data-longest-label] {
    &:before {
      display: none!important;
    }   
  }

  &[data-longest-label] table tbody tr {
    td:first-child {
      transform: none!important;
    }
  }

}
// #endregion
