#{'.chart '+$dumbbell-chart} {

  tbody {
    --chart-direction: 90deg;
  }

  .chart__guidelines {
    position: absolute;

    .guideline {
      bottom: auto;
      left: var(--percent);
      height: 100%;
      border-left: 1px dashed #eee;
      width: 0;

      span{
        display: block;
        font-size: var(--label-size);
        position: absolute;
        top: 100%;
        transform: translate(-50%,0.2em);
      } 
    }
  }

  .chart__yaxis {

    display: none;
  }

  table {

    padding-top: 0;
  }

  table tbody {

    flex-direction: column;
    position: relative;
  }

  table tbody tr {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0.5rem;
    padding: 0;
    height: 4rem;

    &:before {
      content: "";
      bottom: 50%;
      position: absolute;
      left: calc(var(--coverage-start) + 12px);
      width: calc(var(--coverage-end) - var(--coverage-start) - 12px);
      height: 0px;
      margin-bottom: -1px;
      border-bottom: 2px dashed #eee;
      pointer-events: none;
      z-index: var(--index-below);
    }

    td:not(:first-child) {

      position: absolute;
      bottom: 50%;
      left: calc(var(--axis));
      height: 12px;
      width: 12px;
      margin-bottom: -6px;
      margin-left: -6px;
      border-radius: 6px;
      margin-top: 0;
      margin-left: 0;
    }

    td:first-child {
      position: static;
      transform: none;
      display: block!important;
      max-width: fit-content;
    }

    td[data-label="Max"],
    td[data-label="Min"] {
      background: none;
      display: block;
      left: 0;
      font-size: var(--label-size);
      line-height: 12px;
      opacity: 0.5;
    }
    td[data-label="Max"] {
      left: auto;
      right: 0;
      text-align: right;
      width: fit-content;
    }
  }

  &[data-longest-label] {
    &:before {
      display: block;
      content: attr(data-longest-label);
      font-size: var(--label-size);
      padding-right: 1em;
      opacity: 0;
      pointer-events: none;
      white-space: nowrap;

      max-width: 12rem;
    }   
  }

  &[data-longest-label] table tbody tr {
    td:first-child {
      position: absolute;
      transform: translate(-100%, -50%)!important;
      display: block !important;
      line-height: 1.2;
      z-index: var(--index-above);
      top: 50%;
      left: 0!important;
      padding-right: 1em;
      text-align: right;
      white-space: inherit;

      max-width: 12rem;
    }
  }

}

