#{'.chart '+$radar-chart} {

  .chart__yaxis {
    margin: 0;
    position: absolute;
    height: calc(50% - 0.5rem);
    left: 50%;
    top: 0;
    width: 0;

    .axis__point span {
      width: fit-content;
      transform: translate(-50%, 10%);
    }
  }

  .chart__guidelines {
    display: none;
  }

  table tbody tr td:first-child {
    top: auto;
    bottom: 100%;
    width: fit-content;
    display: block;
    transform: translate(-50%, 0);
    z-index: var(--index-below);
  }

  @for $i from 1 to 16 {

    tbody:has(tr:nth-child(#{$i}):last-child) {
      --items: #{$i};
      --part: calc( 360deg / var(--items) );
    }
  }
  
  @for $i from 1 to 16 {

    tbody tr:nth-child(#{$i}) {
      --index: #{$i};
    }
  }

  table {
    padding-top: 60%;
  }


  tbody tr {
    --skew: calc( 90deg - var(--part) );
    border-bottom: 1px solid #8a2be2;
    height: 50%;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 0;
    transform: rotate(calc((var(--part)*var(--index, 1)) - var(--part)));
    transform-origin: 100% 100%;
    width: 0%!important;
    margin: 0!important;

    &:before {
      opacity: 1!important;
      border-left: 1px dashed #000000!important;
    }

    td:not(:first-child) {
      transform: rotate(calc(var(--part) * ((var(--index, 1) - 1) * -1)));
      z-index: var(--index-above);
    }
  }

  :is(.radar, .radar__guidelines) .line {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
    stroke-width: var(--line-thickness);
    width: auto;
    aspect-ratio: 1/1;
    height: calc(100% - 1rem);
    pointer-events: none;
    z-index: var(--index-below);

    path {
      fill: currentColor;
      fill-opacity: 0.5;
    }
  }
  
  .radar__guidelines .line {

    --line-thickness: 0.1px;
    color: #000000;
    z-index: var(--index-below);

    path {
      fill-opacity: 0;
      stroke-dasharray: 0.5px;
    }
  }
}