@use "sass:math";

// #region Sass vars
$chart-colour-1: #0071F1!default;
$chart-colour-2: #009B9B!default;
$chart-colour-3: #24B300!default;
$chart-colour-4: #FFB32B!default;
$chart-colour-5: #F51A5A!default;
$chart-colour-6: #FA6400!default;
$chart-colour-7: #963CE1!default;
$chart-colour-8: #8D8D8D!default;
$chart-colour-9: #067EB3!default;
$chart-colour-10: #D24712!default;

$chart-colors: ();
$chart-colors: map-merge((
  1: $chart-colour-1,
  2: $chart-colour-2,
  3: $chart-colour-3,
  4: $chart-colour-4,
  5: $chart-colour-5,
  6: $chart-colour-6,
  7: $chart-colour-7,
  8: $chart-colour-8,
  9: $chart-colour-9,
  10: $chart-colour-10
), $chart-colors);

// #endregion

// #region Functions and mixins
@function rem($pixels, $context: 16)
{
	@return #{math.div($pixels,$context)}rem;
}
// #endregion

// #region Table wrapper - adds overflow support when in smaller containers
.table__wrapper {
  display: block;
  width: calc(100% + 1rem);
  padding-right: 1rem;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollcolumn;
  margin-bottom: 2rem;
}
// #endregion

// #region Basic setup - including: container setup, css vars 
*:has(> .chart){
  container-type: inline-size;
}

.chart {
  
  // CSS vars that can be overwritten by declaring them without the -set on the end of the variable i.e. --chart-colour-1: red; would overwrite --chart-colour-1-set
  --body-colour-set: var(--body-colour, white);
  --index-below: -1;
  --index-base: 0;
  --index-focus: 2;
  --index-above: 10;
  --index-floating: 100;
  --index-menu: 200;
  --index-overlay: 1000;

  @each $index, $value in $chart-colors {
    --chart-colour-#{$index}-set: var(--chart-colour-#{$index},#{$value});
  }

  // Non-configurable css vars
  --key-label-width: 100%;

  @container (min-width: 36em) {

  }

  &:has(.chart__options){
    position: relative;
    padding-top: rem(24);
  }
  
  margin-bottom: 2rem;
}
// #endregion

// #region Apply chart colours
@for $i from 1 to 10 {
  
  .chart__key .key:nth-child(#{$i}),
  input[type="radio"]:not([value="none"]):not([value="pie"]):checked ~ .chart__inner table tbody tr td:not(:first-child):nth-child(#{$i+1}) {
    
    --chart-colour: var(#{'--chart-colour-'+$i+'-set'});
  }

  input[value="line"]:checked ~ .chart__inner .line:nth-child(#{$i}) {
    stroke: var(#{'--chart-colour-'+$i+'-set'});
    z-index: #{10 - $i};
  }
  input[value="pie"]:checked ~ .chart__inner .pie path:nth-child(#{$i}) {
    fill: var(#{'--chart-colour-'+$i+'-set'});
  }
}
// #endregion

// #region Chart type switcher
.chart > [type="radio"]{
  opacity: 0;
  position: absolute;
  pointer-events: none;
}


.chart__options {

  position: absolute;
  display: block;
  width: fit-content;
  z-index: var(--index-above);
  top: 0;
  right: 0;
  background-color: var(--body-colour-set);
  

  > span:first-child {
    text-align: right;
    display: block;
    height: rem(24);

    &:before {
      content: "";
      height: rem(16);
      width: rem(16);
      background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3e%3cpath d='M31 19.3v-6.5l-3.9-.5c-.1-.4-.3-.9-.5-1.5l2.4-3-4.7-4.7-3.1 2.4c-.4-.2-.9-.4-1.5-.6L19.2 1h-6.5l-.5 3.9c-.6.2-1.1.4-1.5.6l-3-2.4L3 7.7l2.4 3c-.2.5-.4 1.1-.5 1.5l-3.9.5v6.5l3.9.5c.2.5.3 1 .6 1.5l-2.4 3 4.7 4.7 3-2.3c.4.2 1 .5 1.5.6l.5 3.8h6.5l.5-3.8c.5-.2 1.1-.4 1.5-.6l3 2.3 4.7-4.7-2.4-3 .6-1.5 3.8-.4zm-2.1-1.9-3.4.5c-.3 1.5-.8 2.7-1.6 3.6l2.1 2.6-1.9 2-2.6-2c-1 .7-2.5 1.3-3.7 1.5l-.5 3.3h-2.6l-.5-3.3c-1.2-.2-2.7-.8-3.7-1.5l-2.6 2-1.9-2 2.1-2.6c-.8-.9-1.2-2.1-1.6-3.6l-3.4-.5v-2.7l3.5-.5c.2-1.1.6-2.3 1.4-3.7L6 7.9l1.9-2L10.6 8c.8-.7 1.7-1.1 3.6-1.6l.5-3.4h2.6l.5 3.4c1.9.5 2.8.9 3.6 1.6l2.7-2L26 8l-2 2.5c.8 1.4 1.2 2.6 1.4 3.7l3.5.5v2.7zM16 20.8c-2.7 0-4.7-2-4.7-4.8 0-2.7 2-4.7 4.7-4.7s4.7 2 4.7 4.7-2 4.8-4.7 4.8zm0 2.2c3.9 0 6.9-3 6.9-7 0-3.9-3-6.9-6.9-6.9s-6.9 3-6.9 6.9c0 4 3 7 6.9 7z'%3e%3c/path%3e%3c/svg%3e");
      background-size: 100% 100%;
      display: inline-block;

      vertical-align: bottom;
      margin-bottom: rem(3);
      margin-right: rem(6);
    }
  }

  > *:not(:first-child) {

    display: none;
  }

  label {
    cursor: pointer;
    
    &:hover {

      background: var(--label-bg, rgb(220, 220, 220));
    }
  }

  &:hover {
    outline: 3px solid black;

    box-shadow: 0 0 0 calc(0.125rem + 0.125rem) #FFFFFF;
    outline-offset: calc(0.125rem + 0.125rem);

    > * {
      display: block;
    }
  }
}

.chart > [type="radio"]:focus ~ .chart__switcher{
  label {
    display: block;
  }
}
// #endregion

// #region Chart key
.chart > input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

.chart__key {

  padding: 0.75rem;
  margin-bottom: 1rem;
  background: var(--colour-key-bg, rgb(220, 220, 220));

  .key {
    display: inline-block;
    padding: 0.5rem;
    margin-right: 0.75rem;
    background: white;
    border-left: 5px solid var(--chart-colour);
    cursor: pointer;

    &:hover,
    &:focus-within {
      outline: 3px solid var(--chart-colour);
    }
  }
}
// #endregion

// #region Hide data sets
.chart > input[type="checkbox"]:not(:checked) ~ .chart__key .key {
  
  opacity: 0.25;
}

.chart > input[type="checkbox"]:not(:checked) ~ .chart__inner table tbody tr td:not(:first-child) {
  display: none;
}

.chart > input[type="checkbox"]:not(:checked) ~ .chart__inner .lines .line {
  display: none!important;
}

@for $i from 1 to 10 {
  

  .chart > input[type="checkbox"]:nth-of-type(#{$i}):not(:checked) ~ .chart__inner table tbody tr td:not(:first-child):nth-child(#{$i+1}) {
    display: block;
  }

  .chart > input[type="checkbox"]:nth-of-type(#{$i}):focus ~ .chart__key .key:nth-of-type(#{$i}) {
    outline: 3px solid var(--chart-colour);
  }

  .chart > input[type="checkbox"]:nth-of-type(#{$i}):not(:checked) ~ .chart__key .key:nth-of-type(#{$i}) {
    
    opacity: 1;
  }
  
  input:nth-of-type(#{$i}):not(:checked) ~ .chart__inner .lines .line:nth-child(#{$i}) {
    display: block!important;
  }
}
// #endregion

// #region Default column chart (Also applies to line chart)
input[type="radio"]:not([value="none"]):not([value="pie"]):checked ~ .chart__inner {

  --label-size: #{rem(12)};
  --chart-ratio: 56.25%;
  display: block;
  display: flex;
  position: relative;
  margin-bottom: 2rem;

    @container (min-width: 36em) {

        --chart-ratio: 42.86%; // 21:9 ratio
    }

    @container (min-width: 62em) {

        --label-size: #{rem(14)};
    }

  .chart__yaxis {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column-reverse;
    width: 0;

    .axis__point {
      
      bottom: var(--percent);
      position: relative;
      height: 0;
      white-space: nowrap;

      &:not(:last-child){
        display: none;
      }

      span {
        display: block;
        transform: translate(0,-50%);
        padding-right: 0.25rem;
        text-align: right;
        font-size: var(--label-size);
      }

      &:last-child span {

        transform: translate(0,-100%);
      }
    }

    @container (min-width: 36em) {

        width: auto;

      .axis__point {

        &:not(:last-child){
          display: block;
        }

        &:last-child span {
  
          transform: translate(0,-50%);
        }
      }
    }

  }

  .chart__guidelines {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 2rem);
    margin-bottom: 2rem;
    z-index: var(--index-below);
    display: flex;
    flex-direction: column-reverse;

    .guideline {

      bottom: var(--percent);
      position: absolute;
      right: 0;
      width: 100%;
      height: 0px;
      margin-bottom: -1px;
      border-bottom: 1px dashed #eeeeee;
    }

    [data-value="0"] {
      border-bottom: 1px solid var(--colour-primary);

      &:not(:first-child){

        border-bottom: 1px dashed var(--colour-primary);
      }
    }
  }

  .table__wrapper {

    padding-bottom: 2rem;
    padding-right: 0;
    margin: 0;
    overflow-x: visible;
    position: relative;

    table{
      overflow: visible;
    }
  }

  table {
    display: block;
    width: 100%;
    padding-top: var(--chart-ratio); // 16:9 ratio
    position: relative;
    margin-bottom: 0;
    //border-bottom: 1px solid black;

    thead {
      display: none;
    }

    tbody {

      display: flex;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      flex-direction: row;
      border: none;
    }
    
    tbody tr {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-end;
      border: none;
      width: 100%;
      height: 100%;
      position: relative;
      padding: 0 5%;

      td:first-child {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%,0);
        width: auto;
        padding: 0;
        white-space: nowrap;
        max-width: 120%;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: var(--label-size);
        display: none;

        @container (min-width: 62em) {
    
            display: block;
          max-width: 95%;
        }
      }

      &:first-child td:first-child,
      &:last-child td:first-child {

        display: block;
      }

      td:not(:first-child) {
        height: 100%;
        height: var(--percent, 0%);
        bottom: var(--bottom,0%);
        width: 50%;
        max-width: 10rem;
        position: relative;
        background: green;
        padding: 0;

        background: var(--chart-colour);

        &[data-label]:before {
          display: none;
        }

        span {
          position: absolute;
          bottom: 100%;
          left: 50%;
          font-size: var(--label-size);
          line-height: 1.2;
          transform: translate(-50%,0);
          background: var(--chart-colour);
          opacity: 0;
          pointer-events: none;
          padding: 0.5rem;
          border-radius: 0.5rem;
          margin-bottom: 0.25rem;
          color: white;
          white-space: pre;
          text-align: center;

          &::before {
            content: attr(data-group) '\A' attr(data-label) ': ';
          }
        }

        &:hover span {
          opacity: 1;
          z-index: var(--index-above);
        }
      }

      &:first-child td:not(:first-child) span {

        left: -20%;
        transform: translate(0%,0);
      }

      &:last-child td:not(:first-child) span {
          
        left: 120%;
        transform: translate(-100%,0);
      }

      @container (min-width: 36em) {

        &:first-child td:not(:first-child) span,
        &:last-child td:not(:first-child) span {
          
          left: 50%;
          transform: translate(-50%,0);
        }
        
        }

    
      td:first-child {
        &[data-label]:before {
          display: none;
        }
      }
    }

    tbody:has(tr:nth-child(26)){

      tr {
        display: none;
      }

      tr:nth-last-child(-n+26) ~ tr {
        display: flex;
      }
    }
  }

  .line,
  .pie {
    display: none;
  }
}
// #endregion

// #region Stacked column chart

input[type="radio"]:not([value="none"]):not([value="pie"])[value="stacked"]:checked ~ .chart__inner {
  table tbody tr {
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
  }
}
// #endregion

// #region bar chart and responsive chart
@mixin barchart($type) {
  input[type="radio"][value="#{$type}"]:not([value="none"]):not([value="pie"]):checked ~ .chart__inner {

    :is(.chart__yaxis, .chart__guidelines) {
      display: none;
    }

    table {

      padding-top: 0;
    }

    table tbody {

      flex-direction: column;
      position: relative;
    }

    table tbody tr {
      flex-direction: column;
      height: 4rem;
      align-items: flex-start;
      margin-bottom: 0.5rem;
      padding: 0;

      td {
        height: 100%;
        bottom: 0;
        left: var(--bottom, 0%);
        width: var(--percent);
        max-width: 100%;
      }

      td:first-child {
        position: static;
        transform: none;
        display: block!important;
      }
    }
  }
}

.chart {

  @include barchart('bar');


  @container (max-width: 36em) {


    @include barchart('responsive');
  }

}


// #endregion

// #region Line and scatter chart
input[type="radio"]:not([value="none"]):not([value="pie"]):is([value="line"],[value="scatter"]):checked ~ .chart__inner {

  --line-thickness: 1px;


  @container (min-width: 36em) {

      --line-thickness: 0.8px;
  }

  @container (min-width: 62em) {

      --line-thickness: 0.5px;
  }

  table tbody {
    justify-content: space-between;

    tr {
      width: 4rem;
      margin-left: -2rem;
      margin-right: -2rem;
      padding: 0;

      &:first-child td:first-child {

        transform: translate(0,0);
        display: block;
      }
      &:last-child td:first-child {

        left: 100%;
        transform: translate(-100%,0);
        display: block;
      }

      td:first-child {
        left: 50%!important;
      }

      td:not(:first-child) {
        position: absolute;
        left: 50%;
        bottom: var(--percent);
        height: 6px;
        width: 6px;
        margin-bottom: -3px;
        margin-left: -3px;
        border-radius: 3px;

        &:hover {
          opacity: 1;
        }
      }

      &:hover {
        &:before {
          content: "";
          border-left: 1px dashed #eeeeee;

          height: 100%;
          width: 0;
          position: absolute;
          top: 0;
          left: 50%;
          height: 100%;
          margin-left: -1px;
          z-index: var(--index-below);
        }
      }
    }
  }

  .pie {
    display: none;
  }
}
// Lines
input[type="radio"]:not([value="none"]):not([value="pie"])[value="line"]:checked ~ .chart__inner {

  .lines ~ table tbody {

    tr {
      
      td:not(:first-child):not(:hover) {

        opacity: 0;
      }
    }
  }

  .line {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    stroke-width: var(--line-thickness);
    width: 100%;
    height: calc(100% - 2rem);
    pointer-events: none;
    z-index: var(--index-above)
  }
}
// #endregion

// #region Pie chart
input[type="radio"]:not([value="none"])[value="pie"]:checked ~ .chart__inner {

  margin-bottom: 2rem;

  .chart__yaxis,
  .line {
    display: none;
  }
  .table__wrapper {
    display: none;
  }

  .pies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .pie {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
    min-width: rem(200);
    flex: 1 1 auto;
    display: inline-block;

    @container (min-width: 36em) {

      max-width: calc(33.333% - 1.4rem);
    }

    @container (min-width: 62em) {

      max-width: calc(25% - 1.5rem);
    }

    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }

  .pie svg {
    width: 100%;
    height: 100%;

    path:hover {
      transform: scale(1.05);
    }
  }

  .pie foreignObject {
    background: var(--body-colour-set);
    border-radius: 50%;
    z-index: var(--index-focus);
    pointer-events: none;
    display: none;
    padding: 1rem;

    div {
      display: flex;
      justify-content: center;
    align-items: center;
      height: 100%;
    }
    span {
      text-align: center;
      display: block;
    }
  }
  
  .pie {
    foreignObject:nth-of-type(1) {
      display: block;
    }
    path:hover ~ foreignObject:nth-of-type(1) {
      display: none;
    }
    path:nth-child(1):hover ~ foreignObject:nth-of-type(2),
    path:nth-child(2):hover ~ foreignObject:nth-of-type(3),
    path:nth-child(3):hover ~ foreignObject:nth-of-type(4),
    path:nth-child(4):hover ~ foreignObject:nth-of-type(5),
    path:nth-child(5):hover ~ foreignObject:nth-of-type(6),
    path:nth-child(6):hover ~ foreignObject:nth-of-type(7),
    path:nth-child(7):hover ~ foreignObject:nth-of-type(8),
    path:nth-child(8):hover ~ foreignObject:nth-of-type(9){
      display: block;
    }
  }
}
// #endregion

// #region Reverted back into a table
input[type="radio"][value="none"]:checked ~ .chart__key {
  display: none;
}
input[type="radio"][value="none"]:checked ~ .chart__inner {

  .chart__yaxis,
  .line,
  .pie {
    display: none;
  }
}
// #endregion