    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="favicon.svg?cache=1">

    <title>BBC Charts UI Library</title>
    <link rel="stylesheet" href="_app/css/app.css?cache=1" />
    <link rel="stylesheet" href="_assets/css/main.css?cache=1" />

    <script>
        url = new URL(window.location.href);
  
        if (url.searchParams.has('test')) {
  
          document.addEventListener("DOMContentLoaded", function () {
            Array.from(document.querySelectorAll('.chart--animate')).forEach((arrayElement) => {
              arrayElement.classList.remove('chart--animate');
            });
          });
  
          const testContainer = url.searchParams.get('test');
  
          let testCSS = `<style>
          header,
          #more-examples {
            display: none;
          }
          
          main > *:not(#${testContainer}) {
            display: none;
          }
  
          #${testContainer} > *:not(.resize):not(figure){
            display: none
          }
          </style>`;
  
          document.head.innerHTML += testCSS;
        }
  
      </script>
  

    <script src="_assets/js/main.js?cache=1" type="module" defer></script>
    <script src="_app/js/app.js?cache=1" type="module" defer></script>