<a href="./#more-examples" class="btn btn-secondary">Back to more examples</a>
<a href="./floating" class="btn btn-primary">Floating values</a>
<a href="./gantt" class="btn btn-primary">Gantt Chart</a>
<a href="./options" class="btn btn-primary">Chart with options</a>
<a href="./combo" class="btn btn-primary">Combination of charts</a>
<a href="./live" class="btn btn-primary">Live chart</a>
<a href="./series" class="btn btn-primary">Series based chart</a>
<a href="./logarithmic" class="btn btn-primary">Logarithmic axis'</a>
<a href="./react" class="btn btn-primary">React component</a>
